.card {
  display: flex;
  gap: 20px; 
  width: 100%;
}

.left {
  flex: 1;
}

.right {
  flex: 2;
  padding-bottom: 20px;
}

.left:hover { transform: translateY(-2px); }

.divider {
  width: 2px;
  background-color: #423e3e;
}

.title {
  font-weight: bold;
  font-size: 1.25rem;
  color: white;
  margin-bottom: 0.5rem;
}
