.footer{
    margin-top: 30px;
    display: flex;
    width: 100%;
    background-color: rgb(20, 20, 20);
    align-items: center;
    flex-direction: column;
    padding: 1rem;
}

.contact{
    display: flex;
    gap: 20;
}

.line{
    border: none;
    border-top: 1px solid rgb(137, 137, 137);
    margin: 1rem 0;
    width: 50%;
}