.navbar {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 15px;
    border-radius: 30px;
    
}

.link{
    font-weight:bold;
}

.link:hover{
    color:rgb(255, 118, 38);
}