.navbar {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 15px;
    border-radius: 30px;
    
}

.link{
    font-weight:bold;
}

.link:hover{
    background-image: linear-gradient(135deg,rgb(199, 22, 22), rgb(255, 118, 38));
    color: transparent;
    background-clip: text;
}