.page{
    display: flex;
    flex-direction: column;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.skillSections{
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    gap: 30px;
}

.searchBar{
    padding: 8px;
    font-size: 1rem;
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
    outline: none;
}

.searchBar:focus{
    border-bottom: 2px solid rgb(137, 137, 137);
    border-radius: 5px;
}

.subHeading{
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
}